<div class="container scrollable fullScreenWithTitle side-margins">

<div >
  
    <div class="bd-highlight justify-content-center d-flex headerTop">
      <h5>Enter your new password</h5>
    </div>
    <div class="row d-flex align-items-center mt-5 flex-column">
      <img
        class="woman-shaking-hands"
        alt="Woman shaking hands"
        src="assets/img/Guy with the key is trying to log into his account.png"
      />
    </div>
    <div class="bd-highlight text-center">
    <h6>Password must at least be 8 characters, including at least 1 upper and lower case</h6>
</div>
    <form [formGroup]="form" (ngSubmit)="changePassword()">
    <br>
    <div class="form-outline mb-4">
      <input
        type="password"
        
        class="form-control form-control-lg"
        style="border: 1px solid; border-color: black;"
        formControlName="password"
        placeholder="New Password"
      />
      <br>
      <input
        type="password"
       
        class="form-control form-control-lg"
        style="border: 1px solid; border-color: black;"
        formControlName="confirmPassword"
        placeholder="Confirm Password"
      />
    </div>
    <div class="row d-flex align-items-center flex-column">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>
  </div>