<div class="container scrollable side-margins">
  <section class="bg-image">
    <div class="d-flex align-items-center justify-content-center">
      <div class="h-100">
        <div class="d-flex justify-content-center align-items-center h-100">
          <div class="col-12 col-md-12 col-lg-12 col-xl-12">

            <div class="card-body">
              <div class=" bd-highlight mb-2 headerTop">
                <span class="span fs-3 mybgcolor ">Bank</span><span class="text-wrapper-2  fs-3">Lingo</span>
              </div>
              <h2 class="text-center mb-5 headerTop">Login Here</h2>

              <form [formGroup]="loginForm" >
                <div class="form-outline mb-4">
                  <input type="email" id="form3Example3cg" class="form-control form-control-lg"
                    style=" border: 1px solid; border-color: black;" formControlName="email"
                    placeholder="Email address" />
                </div>


                <div class="form-outline formGroup mb-4">
                  <div class="input-group">
                    <input type="{{ showPassword ? 'text' : 'password' }}" id="form3Example4cg"
                      class="form-control form-control-lg inputBoarder" formControlName="password"
                      placeholder="Password" [(ngModel)]="password">
                    <span class="input-group-text eyeBoarder" (click)="togglePasswordVisibility()">
                      <i class="{{ showPassword ? 'bi bi-eye-fill' : 'bi bi-eye-slash-fill' }}"></i>
                    </span>
                  </div>
                  <div class="d-flex w-100 align-items-right mt-1" style="justify-content: flex-end;">
                    <p><a href="#!" routerLink="/forgotpass"
                      class="text font-medium">Forgot your password? </a></p>
    
                  </div>
                 
                </div>
              
                <div *ngIf="invalidCredentials" class="text-center text-danger mb-3">
                  Please fill in your details.
                </div>


                <div class="d-flex flex-column align-items-center justify-content-center">
                  <!-- <button type="submit" class="btn">Login</button> -->

                  <button type="submit" (click)="onLogin()" class="btn btn-primary">Login
                    <span *ngIf="isLoading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                  </button>
                  <p class="text-center text-muted my-2">or</p>
                  <div class="pb-5 w-100">
                    <button class="btn btn-outline-secondary btnGuest"  (click)="loginAsGuest()">
                      Continue as guest
                      <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" *ngIf="isLoadingAsGuest"></span>
                    </button>
                  </div>

                </div>

              

                <p class="text text-center text-muted">Do not have an account? <a href="#!" routerLink="/register"
                    class="text ml-1 font-medium text-blue-400"><u>Register</u></a></p>
                
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

  </section>