
<!--Using grid method and bootstrap for less structured code-->
   <div class="container scrollable side-margins headerTop">
    <div class="col">
      <div class="row-1">
            <div class="d-flex align-items-center flex-column bd-highlight mt-3">
                <div class=" bd-highlight">
                    <h1>Welcome to</h1>
                </div>
                <div class=" bd-highlight">
                    <span class=" span  fs-3 mybgcolor ">Bank</span><span class="text-wrapper-2  fs-3">Lingo</span>
                </div>
              </div>
    </div>

    <div class="imageContainer">
      <img
        class="woman-shaking-hands"
        alt="Woman shaking hands"
        src="assets/img/sammy-line-woman-shaking-hands-with-new-employee.png"
      />
    </div>
    <div class="text-center slogan">
      <p>
         <strong>BankLingo</strong> makes banking easy! simplify banking, boost your <strong>confidence</strong> ,
        and help you make smarter choices for a <strong>brighter</strong> future.
      </p>
    </div>
    <div class="row d-flex align-items-center flex-column">
      <br /><br /><br />
      <button type="button" class="btn btn-primary" routerLink="/login">Login</button>
      <br />
      <p class="no-account">
        <span class="text-wrapper-3">Don’t have an account?</span>
        <span class="text-wrapper-4">&nbsp;</span>
        <span class="text-wrapper-5"
          ><a class="link" routerLink="/register">Register</a></span
        >
      </p>
    </div>
  </div>
</div>
