<div class="container scrollable  side-margins fullScreenWithTitle">     
    <div class="d-flex align-items-center justify-content-center">

         
            <div class="card-body pt-2">
              <div class="align-items-center justify-content-center d-flex">
                <!-- If imagePreviewUrl is available, display the image -->
                <img *ngIf="imagePreviewUrl" [src]="imagePreviewUrl" alt=""
                     class="img-fluid profileImage" style="width: 120px; height: 120px; border-radius: 50%; flex-shrink: 0; object-fit: cover; display: flex; overflow: hidden;" />
              
                <!-- If imagePreviewUrl is not available, display the default image -->
                <img *ngIf="!imagePreviewUrl" src="../../../assets/img/profile_placeholder.jpeg"
                     alt="Default Image" class="img-fluid profileImage"
                     style="width: 120px; height: 120px; border-radius: 120px" />
              </div>      
              
              
              

              <form [formGroup]="profileForm" (ngSubmit)="updateUser()">
                <div class="form-outline mb-4">
                  <label for="floatingInput">First name</label>
                  <input class="form-control form-control-lg" style="border: 1px solid; border-color: gray"
                    formControlName="name" />
                </div>
                <div class="form-outline mb-3">
                  <label for="floatingInput">Last name</label>
                  <input type="text" id="form3Example1cg" class="form-control form-control-lg"
                    style="border: 1px solid; border-color:gray" formControlName="surname" />
                </div>

                <div class="form-outline mb-3">
                  <label for="floatingInput">Age</label>
                  <input type="text" class="form-control form-control-lg" style="border: 1px solid; border-color: gray"
                    formControlName="age" />
                </div>

                <div class="form-outline mb-3">
                  <label for="floatingInput">Email</label>
                  <input class="form-control form-control-lg" style="border: 1px solid; border-color: gray"
                    formControlName="email" />
                </div>

                <label for="floatingInput">Click to upload image</label>
                <div class="input-group mb-2">
                  <input type="file" class="form-control form-control-lg" style="border: 1px solid; border-color: gray"
                    (change)="onFileSelected($event)" #fileInput formControlName="profile_picture" />
                </div>

                <div *ngIf="imageUploaded" class="text-success">
                  <i class="fas fa-check"></i> Picture uploaded!
                </div>
                <br>
              
                <div class="d-flex justify-content-center">
                  <button type="submit" class="btn btn-primary btn-sm" [disabled]="isLoading">
                    Save
                    <span *ngIf="isLoading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                  </button>
               
                </div>
              </form>
            </div>
       

      </div>

</div>